body {
    margin: 0;
    padding: 0;
}

.navigation {
    background-color: #3452DB;

}

.text-white {
    color: white
}

.text-bold {
    font-weight: bold;
}

.p-10 {
    padding: 10px
}

.text-2xl {
    font-size: 1.5rem;
}

.list-no-bullet {
    list-style: none;
}

.flex {
    display: flex;
}

.gap-2 {
    gap: 2em
}

.items-center {
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.w-40 {
    width: 20em
}

.p-2 {
    padding: 8px;
}

.h-20 {
    height: 20rem;
}

.w-20 {
    width: 20rem;
}

.justify-center {
    justify-content: center;
}

.shadow-2xl {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.text-center {
    text-align: center;
}

.box:hover {
    animation-name: changeColor;
    animation-duration: 4s;
}

@keyframes changeColor {
    0% {
        background-color: green;
        transform: translate(100px, 100px);
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: green;
    }
}